<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="http">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="http_anonymous" />
            </basicHttpBinding>
            <netNamedPipeBinding>
                <binding name="pipe" />
                <binding name="pipe_anonymous">
                    <security mode="None" />
                </binding>
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="tcp" />
                <binding name="tcp_anonymous">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://sdvdr002ap023.dv.rt.ru/DatumNode/DatumNode.svc"
                binding="basicHttpBinding" bindingConfiguration="http" contract="ServiceReference1.radius"
                name="http" />
            <endpoint address="http://sdvdr002ap023.dv.rt.ru/DatumNode/DatumNode.svc/a"
                binding="basicHttpBinding" bindingConfiguration="http_anonymous"
                contract="ServiceReference1.radius" name="http_anonymous" />
            <endpoint address="net.tcp://sdvdr002ap023.dv.rt.ru:5555/DatumNode/DatumNode.svc"
                binding="netTcpBinding" bindingConfiguration="tcp" contract="ServiceReference1.radius"
                name="tcp" />
            <endpoint address="net.pipe://sdvdr002ap023.dv.rt.ru/DatumNode/DatumNode.svc"
                binding="netNamedPipeBinding" bindingConfiguration="pipe"
                contract="ServiceReference1.radius" name="pipe" />
            <endpoint address="net.tcp://sdvdr002ap023.dv.rt.ru:5555/DatumNode/DatumNode.svc/a"
                binding="netTcpBinding" bindingConfiguration="tcp_anonymous"
                contract="ServiceReference1.radius" name="tcp_anonymous" />
            <endpoint address="net.pipe://sdvdr002ap023.dv.rt.ru/DatumNode/DatumNode.svc/a"
                binding="netNamedPipeBinding" bindingConfiguration="pipe_anonymous"
                contract="ServiceReference1.radius" name="pipe_anonymous" />
        </client>
    </system.serviceModel>
</configuration>